.container_menu {
    display: flex;
    color: var(--cor-contraste);
    justify-content: space-between;
    gap: 40px;
    height: 80px;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-size: 12px;
}
.container_menu h4 {
    margin-left: 20px;
}

.container_menu a {
    margin: 0px 20px 0px 40px;
}

a {
    color: var(--cor-contraste);
    text-decoration: none;
}
